    <style>
        /* Style for the navigation bar */
        .navbar {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #f1f1f1;
            overflow: hidden;
        }

        /* Style for the menu items */
        .navbar a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Style for the active menu item */
        .navbar a.active {
            background-color: #4CAF50;
            color: white;
        }
    </style>
    <div class="navbar">
        <!-- Menu items -->
        <a class="active" href="http://localhost:8000">Home</a>
        <a href="http://localhost:8000/game">Q&A</a>
        <a href="http://localhost:8000/game/datatest">Data Test</a>
        <a href="http://localhost:8000/game/fortest">For Test</a>
        <a href="http://localhost:8000/game/mediatest">Media Test</a>
        <a href="http://localhost:8000/game/threadtest">Thread Test</a>
        
    </div>
    <br>
    <h1>Welcome to mysite</h1>
    <p>This is a sample web page with a fixed navigation bar.</p>
